<h1>Experiments with FT articles</h1>

<h2>Aligning search results</h2>

<ul>
  <li><a href="/articles/searchTitlesInYear?term=Greece&year=2017">search data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear?term=Greece&year=2017">alignment data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear/display?term=Greece&year=2017">display</a> of Greece in 2017</li>
</ul>

<h2>Signature Stuff</h2>
<ul>
  <li><a href="/articles/signature?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">signature</a> for <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">compare signatures</a> of 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482?uuid=e535b17c-d8ea-11e7-a039-c64b1c09b482">compare signatures</a> of 2 unrelated articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/e535b17c-d8ea-11e7-a039-c64b1c09b482">e535b17c-d8ea-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9?uuid=4ebcc00e-dbd4-11e7-a039-c64b1c09b482">compare signatures</a> of 2 related articles with a 3rd related, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a>, with <a href="https://www.ft.com/content/4ebcc00e-dbd4-11e7-a039-c64b1c09b482">4ebcc00e-dbd4-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9?uuid=e535b17c-d8ea-11e7-a039-c64b1c09b482">compare signatures</a> of 2 related articles with a 3rd unrelated, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a>, with <a href="https://www.ft.com/content/e535b17c-d8ea-11e7-a039-c64b1c09b482">e535b17c-d8ea-11e7-a039-c64b1c09b482</a></li>
</ul>

<h2>Suggest Stuff</h2>
<ul>
  <li><a href="/articles/suggest/between/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">suggest articles</a> between 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a>, with <a href="https://www.ft.com/content/4ebcc00e-dbd4-11e7-a039-c64b1c09b482">4ebcc00e-dbd4-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/suggest/between/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9/tabulated">suggest articles in tabulated form</a> between 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a></li>
  <li><a href="/articles/suggest/between/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9/tabulated/display">display suggested articles in tabulated form</a> between 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a></li>
</ul>

<h2>Simple Search and Article look up</h2>
<ul>
  <li><a href="/articles/search?term=Oil">search</a> for Oil</li>
  <li><a href="/articles/lookup?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">look up article</a> with 2ebe9c54-d82e-11e7-a039-c64b1c09b482</li>
  <li><a href="/articles/v2Lookup?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">v2 lookup</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/v2v1Concordance?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">v2v1Concordance</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/searchEntityDateRange?ontology=people&id=Leo Varadkar&fromDate=2017-11-29T18:59:27Z&toDate=2017-12-03T14:02:18Z">searchEntityDateRange</a> for ontology=people, id=Leo Varadkar, fromDate=2017-11-29T18:59:27Z, toDate=2017-12-03T14:02:18Z </li>
</ul>
