<h1>Experiments with FT articles</h1>

<h2>Aligning search results</h2>

<ul>
  <li><a href="/articles/searchTitlesInYear/Theresa/2017">search data</a> for Theresa in 2017</li>
  <li><a href="/articles/alignTitlesInYear/Greece/2017">alignment data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear/Greece/2017/display">display</a> of Greece in 2017</li>
</ul>
