<h1>Experiments with FT articles</h1>

<h2>Aligning search results</h2>

<ul>
  <li><a href="/articles/searchTitlesInYear?term=Greece&year=2017">search data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear?term=Greece&year=2017">alignment data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear/display?term=Greece&year=2017">display</a> of Greece in 2017</li>
</ul>

<h2>Signature Stuff</h2>
<ul>
  <li><a href="/articles/signature?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">signature</a> for <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">compare signatures</a> of 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482?uuid=e535b17c-d8ea-11e7-a039-c64b1c09b482">compare signatures</a> of 2 unrelated articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/e535b17c-d8ea-11e7-a039-c64b1c09b482">e535b17c-d8ea-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9?uuid=4ebcc00e-dbd4-11e7-a039-c64b1c09b482">compare signatures</a> of 2 related articles with a 3rd related, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a>, with <a href="https://www.ft.com/content/4ebcc00e-dbd4-11e7-a039-c64b1c09b482">4ebcc00e-dbd4-11e7-a039-c64b1c09b482</a></li>
  <li><a href="/articles/signature/2ebe9c54-d82e-11e7-a039-c64b1c09b482,d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9?uuid=e535b17c-d8ea-11e7-a039-c64b1c09b482">compare signatures</a> of 2 related articles with a 3rd unrelated, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9</a>, with <a href="https://www.ft.com/content/e535b17c-d8ea-11e7-a039-c64b1c09b482">e535b17c-d8ea-11e7-a039-c64b1c09b482</a></li>
</ul>

<h2>Suggest Stuff</h2>
<p>These suggestions are produced as follows:<br>
<ul>
  <li>compute the combined signature of exemplar articles</li>
  <li>scan all articles between the earlest and latest date of the exemplar articles</li>
  <li>plus any additional days before/after which can be specified</li>
  <li>scores each of the scanned articles against the exemplar signature</li>
  <li>sorts and displays the articles according to that score</li>
  <li>The scanning can take a long time, so may come to an abrupt end without having scanned the full date range. If you refresh the page, it will keep scanning from where it left off, so you will build up a bigger picture.</li>
</ul>

You can tweak the selections of exemplars via the rendered output page.
</p>

<h3>examples</h3>
<ul>
  <li> JSON output
    <ul>
      <li><a href="/articles/suggest/between?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482&uuid=d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">raw json</a> between 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">Ireland urges Theresa May to steer clear of hard border (2ebe9c54-d82e-11e7-a039-c64b1c09b482)</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">London and Dublin struggle to break Brexit stalemate (d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9)</a></li>
      <li><a href="/articles/suggest/between/tabulated?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482&uuid=d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">tabulated json</a> between 2 related articles, <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">Ireland urges Theresa May to steer clear of hard border (2ebe9c54-d82e-11e7-a039-c64b1c09b482)</a> and <a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">London and Dublin struggle to break Brexit stalemate (d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9)</a></li>
    </ul>
  </li>
  <li> klunky rendered output (you have been warned)
    <ul>
      <li><a href="/articles/suggest/between/tabulated/display?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482&uuid=d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">Suggestions on Brexit+Ireland</a>, given
        <ul>
          <li><a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">Ireland urges Theresa May to steer clear of hard border (2ebe9c54-d82e-11e7-a039-c64b1c09b482)</a></li>
          <li><a href="https://www.ft.com/content/d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9">London and Dublin struggle to break Brexit stalemate (d068d0b8-d529-11e7-8c9a-d9c0a5c8d5c9)</a></li>
        </ul>
      </li>

      <li><a href="/articles/suggest/between/tabulated/display?uuid=ae24c6c4-df5b-11e7-a8a4-0a1e63a52f9c&uuid=dfee4a40-d826-11e7-a039-c64b1c09b482&uuid=4d298768-cb1c-11e7-aa33-c63fdc9b8c6c&uuid=&daysbefore=0&daysafter=0&ignorebucketsworsethan=0.5">Suggestions on Disney+Fox merger</a>, given
        <ul>
          <li><a href="https://www.ft.com/content/ae24c6c4-df5b-11e7-a8a4-0a1e63a52f9c">Disney close to $60bn deal to take over Fox assets (ae24c6c4-df5b-11e7-a8a4-0a1e63a52f9c)</a></li>
          <li><a href="https://www.ft.com/content/dfee4a40-d826-11e7-a039-c64b1c09b482">Fox revives talks on $50bn asset sale to Disney (dfee4a40-d826-11e7-a039-c64b1c09b482)</a></li>
          <li><a href="https://www.ft.com/content/4d298768-cb1c-11e7-aa33-c63fdc9b8c6c">Comcast and Verizon enter fray with approaches for 21st Century Fox (4d298768-cb1c-11e7-aa33-c63fdc9b8c6c)</a></li>
        </ul>
      </li>

      <li><a href="/articles/suggest/between/tabulated/display?uuid=adfcb96e-deec-11e7-a8a4-0a1e63a52f9c&uuid=7b901c26-dbbf-11e7-a039-c64b1c09b482&uuid=69b04610-cf9f-11e7-9dbb-291a884dd8c6&daysbefore=0&daysafter=0&ignorebucketsworsethan=0.4">Suggestions on Trump+Roy Moore+Alabama Senate Election</a>, given
        <ul>
          <li><a href="https://www.ft.com/content/adfcb96e-deec-11e7-a8a4-0a1e63a52f9c">Trump suffers setback in Alabama Senate election (adfcb96e-deec-11e7-a8a4-0a1e63a52f9c)</a></li>
          <li><a href="https://www.ft.com/content/7b901c26-dbbf-11e7-a039-c64b1c09b482">Roy Moore invokes a higher power in Alabama Senate race (7b901c26-dbbf-11e7-a039-c64b1c09b482)</a></li>
          <li><a href="https://www.ft.com/content/69b04610-cf9f-11e7-9dbb-291a884dd8c6">Trump backs Roy Moore to ensure passage of tax reform (69b04610-cf9f-11e7-9dbb-291a884dd8c6)</a></li>
        </ul>
      </li>

    </ul>
  </li>
</ul>

<h2>Simple Search and Article look up</h2>
<ul>
  <li><a href="/articles/search?term=Oil">search</a> for Oil</li>
  <li><a href="/articles/lookup?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">look up article</a> with 2ebe9c54-d82e-11e7-a039-c64b1c09b482</li>
  <li><a href="/articles/v2Lookup?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">v2 lookup</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/v2v1Concordance?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">v2v1Concordance</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/tmeIdsOfV2Annotation?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">tmeIdsOfV2Annotation</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/v1IdsOfV2Annotation?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">v1IdsOfV2Annotation</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/v1IdsOfV2Annotations?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471&url=http://api.ft.com/things/423f0857-e5b5-3256-a8b8-857e2378f433">v1IdsOfV2Annotations</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471 and http://api.ft.com/things/423f0857-e5b5-3256-a8b8-857e2378f433</li>
  <li><a href="/articles/searchEntityDateRange?ontology=people&id=Leo Varadkar&fromDate=2017-11-29T18:59:27Z&toDate=2017-12-03T14:02:18Z">searchEntityDateRange</a> for ontology=people, id=Leo Varadkar, fromDate=2017-11-29T18:59:27Z, toDate=2017-12-03T14:02:18Z </li>
  <li><a href="/articles/searchByV2Annotation?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471">searchByV2Annotation</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471</li>
  <li><a href="/articles/searchByV2AnnotationsInDateRange?url=http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471&url=http://api.ft.com/things/423f0857-e5b5-3256-a8b8-857e2378f433&fromdate=2017-12-01T00:00:00Z&todate=2017-12-10T00:00:00Z">searchByV2AnnotationsInDateRange</a> for http://api.ft.com/things/1a2a1a0a-7199-38b8-8a73-e651e2172471 and http://api.ft.com/things/423f0857-e5b5-3256-a8b8-857e2378f433 from 2017-12-01T00:00:00Z to 2017-12-10T00:00:00Z</li>
  <li><a href="/articles/search/deeper?term=wetherspoon&maxdepth=10">search deeper</a> for wethersoon, maxDepth=10</li>
  <li><a href="/articles/dateAddDays?date=2017-12-03T14:02:18.000Z&days=5">dateAddDays</a> for date=2017-12-03T14:02:18.000Z and days=5</li>
</ul>
