<h1>Experiments with FT articles</h1>

<h2>Aligning search results</h2>

<ul>
  <li><a href="/articles/searchTitlesInYear?term=Theresa&year=2017">search data</a> for Theresa in 2017</li>
  <li><a href="/articles/alignTitlesInYear?term=Greece&year=2017">alignment data</a> for Greece in 2017</li>
  <li><a href="/articles/alignTitlesInYear/display?term=Greece&year=2017">display</a> of Greece in 2017</li>
</ul>

<h2>Signature Stuff</h2>
<ul>
  <li><a href="/articles/signature?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">signature</a> for <a href="https://www.ft.com/content/2ebe9c54-d82e-11e7-a039-c64b1c09b482">2ebe9c54-d82e-11e7-a039-c64b1c09b482</a></li>
</ul>

<h2>Simple Search and Article look up</h2>
<ul>
  <li><a href="/articles/search?term=Oil">search</a> for Oil</li>
  <li><a href="/articles/lookup?uuid=2ebe9c54-d82e-11e7-a039-c64b1c09b482">look up article</a> with 2ebe9c54-d82e-11e7-a039-c64b1c09b482</li>
</ul>
